---
/////////////////////
import Java from "@assets/icons/TechIcons/Backend/Java.svg?url";
import MySQL from "@assets/icons/TechIcons/Backend/MySQL.svg?url";
import NestJS from "@assets/icons/TechIcons/Backend/NestJs.svg?url";
import NodeJS from "@assets/icons/TechIcons/Backend/NodeJS.svg?url";
import PostgreSQL from "@assets/icons/TechIcons/Backend/PostgreSQL.svg?url";
import Python from "@assets/icons/TechIcons/Backend/Python.svg?url";

import Figma from "@assets/icons/TechIcons/Extras/Figma.svg?url";
import Firebase from "@assets/icons/TechIcons/Extras/Firebase.svg?url";
import Git from "@assets/icons/TechIcons/Extras/Git.svg?url";
import JWT from "@assets/icons/TechIcons/Extras/JWT.svg?url";
import Photoshop from "@assets/icons/TechIcons/Extras/Photoshop.svg?url";

import Javascript from "@assets/icons/TechIcons/Frontend/Javascript.svg?url";
import NextJS from "@assets/icons/TechIcons/Frontend/NextJS.svg?url";
import React from "@assets/icons/TechIcons/Frontend/React.svg?url";
import Tailwindcss from "@assets/icons/TechIcons/Frontend/Tailwindcss.svg?url";
import Typescript from "@assets/icons/TechIcons/Frontend/Typescript.svg?url";
import Html5 from "@assets/icons/TechIcons/Frontend/Html5.svg?url";
import Css3 from "@assets/icons/TechIcons/Frontend/Css3.svg?url";

import Gemini from "@assets/icons/SVG Logos/Gemini.svg?url";
import LogosCloudinaryIcon from "@assets/icons/SVG Logos/LogosCloudinaryIcon.svg?url";
import LogosOpenaiIcon from "@assets/icons/SVG Logos/LogosOpenaiIcon.svg?url";

const techIcons: any = {
  Java: Java,
  MySQL: MySQL,
  NestJS: NestJS,
  NodeJS: NodeJS,
  PostgreSQL: PostgreSQL,
  Python: Python,
  Figma: Figma,
  Firebase: Firebase,
  Git: Git,
  JWT: JWT,
  Photoshop: Photoshop,
  JavaScript: Javascript,
  NextJS: NextJS,
  React: React,
  Tailwindcss: Tailwindcss,
  TypeScript: Typescript,
  Html5: Html5,
  Css3: Css3,
  OpenAi: LogosOpenaiIcon,
  Gemini: Gemini,
  Cloudinary: LogosCloudinaryIcon,
  Astro: "/DeviconAstro.webp",
};
/////////////////////
import MdiGithub from "@assets/icons/MaterialDesignIcons/MdiGithub.astro";
import GridiconsDomains from "@assets/icons/Gridicons/GridiconsDomains.astro";
import type { ProjectsI } from "@interfaces/TechInterface";

// Ejemplo de datos que vienen desde Firebase.
const projects: ProjectsI[] = [
  {
    title: "Bloody Room",
    titleColor: "text-red-500",
    dateTo: "October 9, 2024",
    description:
      " Halloween-themed web application where users can register and are given 4 tokens per day to upload 4 images and change their backgrounds.",
    technology: [
      "NextJS",
      "OpenAi",
      "TypeScript",
      "NodeJS",
      "Tailwindcss",
      "Cloudinary",
      "Firebase",
    ],
    imageUrl:
      "https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/imagesProjects%2FbloodyRoom.webp?alt=media&token=58bf7a78-3581-43bd-9c09-b6503a394ec4",
    links: {
      github: "https://github.com/PurpleSavage/hackathon-midu-bloody-room",
      link_page: "https://hackathon-midu-bloody-room.vercel.app/",
    },
  },
  {
    title: "Savings plan UNMSM",
    titleColor: "text-green-500",
    dateTo: "October 3, 2024",
    description:
      "Landing page and savings plan calculator developed for a UNMSM group using Gemini to improve decision making.",
    technology: ["NextJS", "Gemini", "TypeScript", "NodeJS", "Tailwindcss"],
    imageUrl:
      "https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/imagesProjects%2Fsavingplans.webp?alt=media&token=d5c1b786-e767-4a5e-bd28-168f70392046",
    links: {
      github: "https://github.com/Ar2700/savings-plan-claudia",
      link_page: "https://savings-plan-claudia.vercel.app/",
    },
  },
  {
    title: "My Mochis Galley",
    titleColor: "text-pink-500",
    dateTo: "October 16, 2023",
    description:
      "Image gallery that has been made with Firebase and cloudinary for image storage, integration with Spotify as well.",
    technology: [
      "NextJS",
      "TypeScript",
      "NodeJS",
      "Tailwindcss",
      "Cloudinary",
      "Firebase",
    ],
    imageUrl:
      "https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/imagesProjects%2FMochisGallery.webp?alt=media&token=ee370ce9-df08-4131-a432-d7fc14a12ac9",
    links: {
      github: "https://github.com/Ariano2700/image-gallery",
      link_page: "https://image-gallery-three-murex.vercel.app/",
    },
  },
  {
    title: "GIF-Project",
    titleColor: "text-cyan-500",
    dateTo: "December 3, 2023",
    description: "Project developed with React using GIPHY API",
    technology: ["JavaScript", "React", "Tailwindcss"],
    imageUrl:
      "https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/imagesProjects%2FGIF-project.webp?alt=media&token=d8cdd478-8965-48ea-b2a7-e29d117e32a6",
    links: {
      github: "https://github.com/Ariano2700/GIF-Project",
      link_page: "https://ariano2700.github.io/GIF-Project/",
    },
  },
  {
    title: "Vigo-bird",
    titleColor: "text-yellow-500",
    dateTo: "October 7, 2023",
    description:
      "Flappy bird clone project made with Canvas and javascript, adding sounds and local point counter.",
    technology: ["JavaScript", "Css3", "Html5"],
    imageUrl:
      "https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/imagesProjects%2FFlapyVigo.webp?alt=media&token=e93425a4-f119-472a-912f-d53cc3e8dcff",
    links: {
      github: "https://github.com/Ariano2700/vigo-bird",
      link_page: "https://ariano2700.github.io/vigo-bird/",
    },
  },
  {
    title: "My Portfolio",
    titleColor: "text-[#61DAFB]",
    dateTo: "October 28, 2024",
    description:
      "This page is made in Astro. Here is where I show a little about me and my work, my hobbies, etc.",
    technology: ["Astro", "TypeScript", "Tailwindcss", "Css3"],
    links: {
      github: "https://github.com/Ariano2700/ariano-portfolio",
    },
    imageUrl: "https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/imagesProjects%2Fportfolio.PNG?alt=media&token=62cc0836-cf75-4e8e-8e7e-2977af4f916b"
  },
];
---

<div
  class="w-full max-w-[1120px] flex flex-col items-center justify-center gap-8 min-[1180px]:grid-cols-2 min-[1180px]:grid"
>
  {
    projects.map((project) => (
      <div class="p-5 rounded-xl border dark:border-primary-5 border-primary-10 max-w-[550px] w-full flex flex-col gap-3">
        <div class="flex justify-between flex-col sm:flex-row">
          <div class="flex flex-col gap-1 sm:max-w-80 sm:h-44 justify-between">
            <h3 class={`text-xl font-bold ${project.titleColor}`}>
              {project.title}
            </h3>
            <p class="italic">{project.dateTo}</p>
            <p>{project.description}</p>
          </div>
          <div class="grid grid-cols-5 w-full sm:grid-cols-3 items-center sm:w-48 gap-4">
            {project.technology.map((tech) => (
              <img src={techIcons[tech]} alt={tech} class="size-11" />
            ))}
          </div>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row items-center text">
          {project.imageUrl ? (

            <figure>
            <img
            src={project.imageUrl}
            alt={project.title}
            class="w-64 sm:min-w-96 sm:min-h-48 sm:w-96 rounded-md"
            />
          </figure>
          ): null}
          <ul class="text-6xl flex sm:flex-col justify-center items-center w-full gap-5">
            {!project.links.link_page ? (
            <li>
              <a
                href={project.links.github}
                target="_blank"
                rel="noopener noreferrer"
              >
                <MdiGithub />
              </a>
            </li>
            ):(
            <li>
              <a
                href={project.links.github}
                target="_blank"
                rel="noopener noreferrer"
              >
                <MdiGithub />
              </a>
            </li>
            <li>
              <a
                href={project.links.link_page}
                target="_blank"
                rel="noopener noreferrer"
              >
                <GridiconsDomains />
              </a>
            </li>
            )}
          </ul>
        </div>
      </div>
    ))
  }
</div>
<style>
  li {
    @apply transition-all duration-300 ease-out hover:text-primary-10 dark:hover:text-buttons-5;
  }
</style>
